:root {
    --primary: #b65f28;
    --secondary: #07077c;
  }
  


.containerForm{


width: 50px !important;
border: solid 1px  ;
margin-top: 0 !important;
position: relative;
top: 60px;
border-radius: 5px;
background-color: rgb(202, 202, 202);
color: rgb(10, 10, 10);
margin-left: -0%;





}

label{

    margin-left:4px;

}


h4{

    color: var(white);
    font-weight: bold;
    font-size: 1rem;
    width: 298px;
}


.categoriepanel, .prixpanel{

    margin-left: 15px;
}

.categ, .prix{

    text-decoration: underline;
    font-size: 1.2rem;
}

#quantity{

    width: 65px;
}

#deletebt{

    width: 100px;
}

.filterdisplayproducts{

    width: 380px !important;
    padding-left: 10px;
    margin-top: -25% !important;
    text-align: justify;
    position: sticky;
    top: 91px;
    font-size:12px;
    margin-top: -10%;
    height: 610px;
    background-color: white;
    color: rgb(14, 13, 13);
    float: right;
    display: flex;
    flex-wrap: wrap;
}

#learnmorefilter{

    background-color: #0d0d0e;
    color: white;
    padding: 1% 2% 2% 5%;
    border-radius: 4px;
    font-size: 12px;
    
    
}

.filterdisplayproducts> li{

    padding-left: 15px;
    font-size: 15px;
    width: 150;
    height: 100;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



@media screen and (max-width: 767px) {


    .containerForm{


        width: 160px;
        height: 610px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        justify-content: center;
        margin-top: 25%;
        top: 185px;
        border: solid 1px rgb(165, 161, 161);
        
        
        }



        label{

            margin-left:2px
        
        }
        
        
        
        .categoriepanel, .prixpanel{
        
            margin-left: 2px;
        }
        
        
    
}



.show-filter .filterdisplayproducts::before {
    transform: rotate(45deg);
  }

  .show-filter .filterdisplayproducts::after {
    transform: rotate(-45deg);
  }

  .show-filter .filterdisplayproducts {
    width: 10;
    background: transparent;
  }

  .show-filter {
    transform: translateY(0);
  }
























@media screen and (min-width: 896px) {


    .containerForm{


        width: 160px;
        height: 610px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        justify-content: center;
        margin-top: 25%;
        top: 185px;
        border: solid 1px rgb(165, 161, 161);
        
        
        }



        label{

            margin-left:2px
        
        }
        
        
        
        .categoriepanel, .prixpanel{
        
            margin-left: 2px;
        }
        
    }
    